<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>The Project App</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            max-width: 900px;
            margin: auto;
            padding: 20px;
        }
        img {
            max-width: 100%;
            border-radius: 8px;
            box-shadow: 0 4px 12px,rgba(0,0,0,0.3);
        }
        h1 {
            font-size: 42px;
            margin-bottom: 20px;
        }
        p {
            font-size: 22px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h1>The project App</h1>

    <img src="/image" alt="Random Image">

    <p>DevOps with Kubernetes 2025</p>

    <!-- Input for todos -->
    <div style="margin-top: 40px;">
        <h2>Todo List</h2>

    <!-- Input field with maxlength -->
    <input 
        type="text" 
        placeholder="Enter your todo..."
        maxlength="140"
        style="width: 70%; padding: 10px; font-size: 18px;"
    />

    <!-- Send button -->
    <button style="padding: 10px 20px; font-size: 18px;">
        Create todo
    </button>

    <!-- Hardcoded todos -->
    <ul style="margin-top: 20px; font-size: 20px;">
        <li>Take a Walk</li>
        <li>Finish Kubernetes exercise</li>
        <li>Walk the dog</li>
    </ul>
</div>

