apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: backend
$patch: strategic
spec:
  template:
    spec:
      containers:
      - name: backend
        env:
        - name: POSTGRES_URL
          value: "postgres://postgres:example@$(DB_SERVICE):5432/project"



