apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: staging

resources:
  - ../../base

namePrefix: staging-

patchesStrategicMerge:
  - broadcaster_staging.yaml
  - db_patch.yaml
  - cronjob_patch.yaml