apiVersion: apps/v1
kind: Deployment
metadata:
  name: pingpong-dep
spec:
  selector:
    matchLabels:
      app: pingpong
  template:
    metadata:
      labels:
        app: pingpong
    spec:
      containers:

      - name: pingpong
        image: matiashonkasalo/pingpong:1.1
        ports:
         - containerPort: 3001
        volumeMounts:
          - name: shared-storage
            mountPath: /shared
      
      volumes: 
        - name: shared-storage
          persistentVolumeClaim:
            claimName: pvc-dep

