apiVersion: apps/v1
kind: Deployment
metadata:
  name: log-output-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: log-output
  template:
    metadata:
      labels:
        app: log-output
    spec:
      containers:

        - name: writer
          image: matiashonkasalo/log-output:1.6
          volumeMounts:
            - name: logs
              mountPath: /shared

        - name: reader
          image: matiashonkasalo/reader:1.3
          ports:
            - containerPort: 3000
          volumeMounts:
            - name: logs
              mountPath: /shared

      volumes:
        - name: logs
          persistentVolumeClaim:
            claimName: pvc-dep 

        

