apiVersion: apps/v1
kind: Deployment
metadata:
  name: log-output-dep
  namespace: exercises
spec:
  strategy:
    type: Recreate
  replicas: 1
  selector:
    matchLabels:
      app: log-output
  template:
    metadata:
      labels:
        app: log-output
    spec:
      containers:

        - name: writer
          image: matiashonkasalo/log-output:e9196c35f9c639ca794f21c68f9f15a954555cfb
          volumeMounts:
            - name: logs
              mountPath: /shared

        - name: reader
          image: matiashonkasalo/reader:e9196c35f9c639ca794f21c68f9f15a954555cfb
          ports:
            - containerPort: 3000
          volumeMounts:
            - name: logs
              mountPath: /shared
            - name: configmap-volume
              mountPath: /etc/config

          envFrom:
            - configMapRef:
                name: log-configmap-env

          readinessProbe:
            httpGet:
              path: /healthz
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 5


      volumes:
        - name: logs
          persistentVolumeClaim:
            claimName: pvc-dep 
        
        - name: configmap-volume
          configMap:
            name: log-configmap-file

---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc-dep
  namespace: exercises
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi


        

